:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --mid-grey-color: #afb1b8;
  --light-grey-color: #f5f4fa;
  --dark-grey-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  line-height: 2;
}

header {
  background-color: var(--white-color);
  width: 100%;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header .container {
  display: flex;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}

.header-bar{
  display: flex;
  align-items: center;
  margin-right: 191px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue-color);
  text-decoration: none;
  margin-right: 43px;
  margin-left: 215px;
}

.nav-bar{
  display: inline;
  float: right;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 50px;
}

.contact-link {
  color: var(--grey-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
}

.nav-link:visited {
  color: unset;
}

.nav-link:hover {
  color: var(--blue-color);
}

.contact-icon {
  width: 16px;
  height: 16px;
}

.contact-info:hover {
  fill: var(--blue-color);
}
.contact-info:hover .contact-link{
  color: var(--blue-color);
}

.first-section {
  height: 600px;
  top: 80px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-grey-color);
  margin-bottom: 95px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.svg);
}

.first-section-title {
  width: 696px;
  height: 120px;
  left: 448px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.button {
  width: 261px;
  height: 50px;
  left: 666px;
  top: 430px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  background: var(--blue-color);
  border-radius: 4px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  text-align: center;
}

.features-box {
  display: flex;
  text-align: left;
  justify-content: space-between;
  width: 1170px;
  height: 251px;
  margin-left: 215px;
  margin-top: 89px;
  padding: 0%;
  font-size: 14px;
  font-weight: 400;
}

.feature-title {
  color: var(--black-color);
  font-weight: 700;
  margin: 0px;
  margin-bottom: 0px;
}

.feature-text {
  color: var(--grey-color);
  width: 270px;
  margin-top: 0px;
  margin-left: 0px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.section-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 99px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: 1173.16px;
  height: 323.7px;
  margin-top: 5.05px;
  margin-left: 215px;
  margin-bottom: 94px;
}

.seccion-nuestro-equipo {
  width: 1600px;
  height: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  background-color: var(--light-grey-color);
  padding-bottom: 94px;
}

.equipo {
  display: flex;
  justify-content: space-between;
  width: 1117px;
  margin-left: 208px;
}

.tarjeta {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
  display: flex;
  flex-direction: column;
}

.nombre-profesional {
  display: flex;
  justify-content: center;
  height: 19px;
  font-weight: 700;
  margin-top: 30px;
}

.position-text {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: 32px;
}

.social-link-container {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  padding: 12px;
  background-color: var(--white-color);
}

.social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--mid-grey-color);
}

.social-link-container:hover {
  background-color: var(--blue-color);
}

.social-link-container:hover .social-link-icon {
  fill: var(--white-color);
}

.sección-clientes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 1170px;
  height: 162px;
  margin-top: 59px;
  margin-left: 215px;
  margin-bottom: 151px;
}

.flex-list {
  display: flex;
  justify-content: space-between;
}

.client-container {  
  width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 14px 32px;
}

.client-logo {
  width: 106px;
  height: 52.83px;
  padding-left: 30px;
  fill: var(--mid-grey-color);
}

.client-container:hover {
  border-color: var(--blue-color);
}

.client-container:hover .client-logo {
  fill: var(--blue-color);
}

footer {
  width: 1600px;
  min-height: 252px;
  box-sizing: content-box;
  background-color: var(--dark-grey-color);
  padding-top: 60px;
}

footer .logo {
  padding-top: 60px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 231px;
  height: 21px;
  margin-left: 215px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contenedor-redes {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  width: 206px;
  height: 80px;
  margin-top: -50px;
  padding: 0px;
  margin-left: 516px;
}

.contenedor-iconos-redes {
  display: flex;
  justify-content: space-between;
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 0px;
}

.footer-social-link-container {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer-social-link-container:hover {
  background-color: var(--blue-color);
}

/*PORTAFOLIO*/

.filtros {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 106px;
  margin-left: 495px;
  margin-bottom: 56px;
  width: 611px;
  height: 54px;
}

button {
  background-color: var(--light-grey-color);
  border-style: none;
  color: var(--black-color);
  height: 38px;
  margin-left: 0px;
  margin-right: 8px;
  border-radius: 4px;
}

button:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.button-todo {
  width: 73px;
}

.button-sitios-web {
  width: 128px;
}

.button-aplicaciones {
  width: 145px;
}

.button-diseño {
  width: 103px;
}

.button-marketing {
  width: 130px;
  margin-right: 0px;
}

.portafolio {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: 1360px;
  margin-left: 215px;
}

.contenedores {
  border: 1px solid #eeeeee;
  height: 404px;  
  margin-right: 18px;
  margin-left: 0px;
}

.contenedores:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 24px;
}

.project-description {
  display: flex;
  justify-content: flex-start;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-left: 24px;
}
